/*Style sheet for concord-consortium.github.io/codap-data site*/
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.otf') format('otf');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.ttf') format('truetype');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.eot') format('embedded-opentype');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.woff') format('woff');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.svg') format('svg');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.otf') format('otf');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.ttf') format('truetype');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.eot') format('embedded-opentype');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.woff') format('woff');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.svg') format('svg');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.otf') format('otf');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.ttf') format('truetype');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.eot') format('embedded-opentype');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.woff') format('woff');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.svg') format('svg');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.otf') format('otf');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.ttf') format('truetype');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.eot') format('embedded-opentype');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.woff') format('woff');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.svg') format('svg');}

body {
    background-color: #FFFAE6;
    font: 100% "MuseoSans-500", lato,verdana,arial,sans-serif;
    margin: 0;
    padding: 1em;
}

header {
    background: #fee9aa;
    display:block;
}

header div {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

header img {
    float: left;
    margin: .75em 0;
    width: 200px;
    height: auto;
}

header #cc {
    color: rgb(0, 147, 176);
    float: right;
    font-size: .5em;
    margin-top: 20px;
    text-align: right;
    width: 121px;
}

header #cc img {
    clear: both;
    display: block;
    height: auto;
    margin: 0;
    width: 121px;
}

#home-content {
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

h1 {
    color: #e16a3e;
    font:2.5em "MuseoSans-500",verdana,arial,helvetica,sans-serif;
    text-align: center;
}

#intro p {
    color: #777;
    font: 300 1.25em "MuseoSans-500", lato, verdana, helvetica, sans-serif;
    line-height: 100%;
    margin-bottom: .5em;
    text-align: center;
}

#intro ol {
    margin-left: 40px
}

#search {
    margin: auto;
    width: 960px;
    position:relative;
}

.button {
    text-align: center;
    background: #eb8723 !important;
    border: none;
    border-bottom: 3px solid #e16a3e !important;
    color: #fff;
    cursor: pointer !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
    font-family: "MuseoSans-500", georgia, times, 'times new roman', serif !important;
    margin-bottom: 1em !important;
    margin-right: .6em !important;
    padding: 5px 15px !important;
    -khtml-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    -moz-appearance: none;
    -webkit-appearance: none
}

#search input[type=text] {
    border: 1px solid #ccc;
    border-radius: .375em;
    color: #aaa;
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    clear: left;
    margin-left: 10%;
    padding: 1%;
    width: 60.2121%
}

#search input[type=submit] {
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1.2em;
    margin-left: 1%;
    padding: 11px 0 !important;
    width: 15%
}

#filter-category {
    padding-left: 20px;
    font-size: 1.1em;
    line-height: 35px;
    display: block;
    float:left;
}

#filter-category input[type=checkbox] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    /*position: relative;*/
    margin: 20px auto;

}

/*#filter-category label {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*cursor: pointer;*/
    /*!*position: absolute;*!*/
    /*top: 0;*/
    /*left: 0;*/
    /*background: #fcfff4;*/
    /*background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
    /*border-radius: 4px;*/
    /*box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
/*}*/

        /*&:after {*/
        /*content: '';*/
        /*width: 9px;*/
        /*height: 5px;*/
        /*position: absolute;*/
        /*top: 4px;*/
        /*left: 4px;*/
        /*border: 3px solid #333;*/
        /*border-top: none;*/
        /*border-right: none;*/
        /*background: transparent;*/
        /*opacity: 0;*/
        /*transform: rotate(-45deg);*/
    /*}*/
    /*&:hover::after {*/
        /*opacity: 0.5;*/
    /*}*/
/*}*/

/*input[type=checkbox] {*/
    /*visibility: hidden;*/
    /*!*&:checked + label:after {*!*/
        /*!*opacity: 1;*!*/
    /*}*/
}



.form_container {
    margin-top: 1em;
    padding-left: 2em;
}

.form_container input[type=text] {
    border: 1px solid #aaa;
    border-radius: .375em;
    color: black;
    font-size: 1em;
    font-weight: 200;
    width: 40.2121%
}

.credits {
    font-size: 1em;
    color: #777;
}

.credits p {
    padding-left: 2em;
    margin-bottom: 0.01em;
}

p {
    color: #777;
    font: 100 1em "MuseoSans-500", lato, verdana, helvetica, sans-serif;
    line-height: 125%;
    margin-bottom: .5em;
}

footer {
    background: #72bfca;
    color: #fff;
    height: auto;

}

footer p {
    /*padding-top:40px;*/
    margin: 0 auto;
    padding: 15px;
    width: 960px;
    text-align: center;
}

.listing-title {
    font-weight: bold;
    font-size: 16px;
    -webkit-margin-before:.1em;
    -webkit-margin-after:.1em;
    width:150px;
    max-width:150px;
}

.listing-desc {
    -webkit-margin-before:.1em;
    -webkit-margin-after:.1em;
    font-size: 12px;
}

.listing-link {
    font-size: 10px;
    position: absolute;
    bottom:10px;
}

#top-nav-bar a {
    width:165px;
    background-color: #7fb2be;
    color: white;
    font-size: 13px;
    padding: 0.2em 0.5em;
    border-right: 1px solid white;
}

#top-nav-bar a:hover {
    background-color: #0797A8;
}

.nav-bar {
    width:100%;
    margin: 0;
}

.nav-bar a {
    background-color: #0797A8;
}

.menu-h li {
    padding: 3px;
    display: inline-block;
    position:relative;
}

.menu-h li a:hover {
    background: #7fb2be;
    text-decoration: none;
    white-space: nowrap;
    color: white;
}

.nav-bar ul li:hover ul {
    display: block;
    position: absolute;
}

.menu-h-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index:999;
}
.menu-h-dropdown li {
    padding:0px;
}

.menu-h-dropdown a{
    display: block;
    background: #7fb2be;
    text-decoration: none;
    white-space: nowrap;
    /*color: white;*/
}

a {
    color: #3a878b;
    font-weight: 600;
    text-decoration: none;
}
a:hover {
    color: #da5936;
}

.nav-to-top {
    font-size: 10px;
}

.home-icon {
    height: 20px;
    width: 20px;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

#listing_container{
    float: left;
}

.listing {
    box-shadow: 1px 1px 5px rgba(51, 51, 51, .3);
    height: auto;
    list-style: none;
    margin: 5px;
    min-height: 140px;
    padding: 1%;
    position: relative;
    width: 25%;
    background-color:white;
}
