/*Style sheet for concord-consortium.github.io/codap-data site*/
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.otf') format('otf');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.ttf') format('truetype');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.eot') format('embedded-opentype');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.woff') format('woff');}
@font-face {font-family: 'MuseoSans-500';src: static_url('webfonts/MuseoSans_500.svg') format('svg');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.otf') format('otf');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.ttf') format('truetype');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.eot') format('embedded-opentype');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.woff') format('woff');}
@font-face {font-family: 'MuseoSans-500-Italic';src: static_url('webfonts/MuseoSans_500_Italic.svg') format('svg');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.otf') format('otf');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.ttf') format('truetype');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.eot') format('embedded-opentype');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.woff') format('woff');}
@font-face {font-family: 'Montserrat-Regular';src: static_url('webfonts/Montserrat-Regular.svg') format('svg');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.otf') format('otf');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.ttf') format('truetype');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.eot') format('embedded-opentype');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.woff') format('woff');}
@font-face {font-family: 'Montserrat-Bold';src: static_url('webfonts/Montserrat-Bold.svg') format('svg');}

body {
    background-color: #FFFAE6;
    font: 100% "MuseoSans-500", lato,verdana,arial,sans-serif;
    margin: 0;
    padding: 1em;
}

header {
    background: #fee9aa;
    display:block;
}

header div {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

header img {
    float: left;
    margin: .75em 0;
    width: 200px;
    height: auto;
}

header #cc {
    color: rgb(0, 147, 176);
    float: right;
    font-size: .5em;
    margin-top: 20px;
    text-align: right;
    width: 121px;
}

header #cc img {
    clear: both;
    display: block;
    height: auto;
    margin: 0;
    width: 121px;
}

#home-content {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

h1 {
    color: #e16a3e;
    font:2.5em "MuseoSans-500",verdana,arial,helvetica,sans-serif;
    text-align: center;
}

#intro p {
    color: #777;
    font: 300 1.25em "MuseoSans-500", lato, verdana, helvetica, sans-serif;
    line-height: 100%;
    margin-bottom: .5em;
    text-align: center;
}

#intro ol {
    margin-left: 40px
}

#search {
    margin: auto;
    width: 960px;
    position:relative;
}

.button {
    text-align: center;
    background: #eb8723 !important;
    border: none;
    border-bottom: 3px solid #e16a3e !important;
    color: #fff;
    cursor: pointer !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
    font-family: "MuseoSans-500", georgia, times, 'times new roman', serif !important;
    margin-bottom: 1em !important;
    margin-right: .6em !important;
    padding: 5px 15px !important;
    -khtml-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    -moz-appearance: none;
    -webkit-appearance: none
}

#search input[type=search] {
    border: 1px solid #ccc;
    border-radius: .375em;
    color: #aaa;
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    clear: left;
    margin-left: 10%;
    padding: 1%;
    width: 60.2121%
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

#search input[type=submit] {
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1.2em;
    margin-left: 1%;
    padding: 11px 0 !important;
    width: 15%
}

#content_area {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 375px;
}

#filter-category {
    padding-left: 20px;
    line-height: 20px;
    display: block;
    width: 175px;
    position:absolute;
    border-radius: 5px;
    background-color:#dff2f1;
    border: 1px solid #cdebe9;

}

#filter-category input[type=checkbox] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 10px;
    vertical-align: middle;
}

#filter-category form {
    margin-top: 1em;
    margin-bottom: 1em;
}

#filter-category label {
    color: #666;
    font-size: 1.1em;
    display: inline-block;
}

.form_container{
    margin-top: 1em;
    padding-left: 2em;
    position: relative;
    color: #777;
    font-size: .75em
}

.form_container input[type=text] {
    border: 1px solid #aaa;
    border-radius: .375em;
    color: black;
    font-size: .75em;
    font-weight: 200;
    width: 650px;
}

.credits {
    font-size: 1em;
    color: #777;
    position: relative;
}

.credits p {
    padding-left: 2em;
    margin-bottom: 0.01em;
}

p {
    color: #777;
    font: 100 1em "MuseoSans-500", lato, verdana, helvetica, sans-serif;
    line-height: 125%;
    margin-bottom: .5em;
}

footer {
    background: #72bfca;
    color: #fff;
    height: auto;
    position:relative;

}

footer p {
    /*padding-top:40px;*/
    margin: 0 auto;
    padding: 15px;
    width: 960px;
    text-align: center;
}


a {
    color: #3a878b;
    font-weight: 600;
    text-decoration: none;
}
a:hover {
    color: #da5936;
}

#listing_container{
    position: relative;
    left: 20%;
    flex-wrap: wrap;
    display: flex;
    width: 80%;
}

.listing {
    box-shadow: 1px 1px 5px rgba(51, 51, 51, .3);
    height: auto;
    list-style: none;
    margin: 5px;
    min-height: 140px;
    padding: 1%;
    position: relative;
    width: 200px;
    background-color:white;
}

.listing-title {
    font-weight: bold;
    font-size: 16px;
    -webkit-margin-before:.1em;
    -webkit-margin-after:.1em;
    width:150px;
    max-width:150px;
}

.listing-desc {
    -webkit-margin-before:.1em;
    -webkit-margin-after:.1em;
    font-size: 12px;
}

.listing-link {
    font-size: 10px;
    position: absolute;
    bottom:10px;
}